<nav class="nav">
    <img src="../../../assets/img/favicon.ico" alt="Application Logo" class="logo--small">

    <div class="search">
        <input type="text" class="search__input">
        <i class="fas fa-search search__icon"></i>
    </div>

    <ul class="nav__list">
        <li class="nav__item-container">
            <a href="#" class="nav__item">Home</a>
        </li>

        <li class="nav__item-container">
            <a href="#" class="nav__item">About</a>
        </li>

        <li class="nav__item-container">
            <a href="#" class="nav__item">Sign UP</a>
        </li>

        <li class="nav__item-container">
            <a href="#" class="nav__item">Sign IN</a>
        </li>
    </ul>
</nav>

<div class="content">
    <div class="content__side">
        <ul class="content__list">
            <li class="content__item selected">
                <i class="fas fa-plus"></i>
                Create new note
            </li>
            <li class="content__item">
                <i class="fas fa-clipboard"></i>
                View all notes
            </li>
            <li class="content__item">
                <i class="fas fa-user"></i>
                My profile
            </li>
            <li class="content__item">
                <i class="fas fa-greater-than"></i>
                To Do
            </li>
            <li class="content__item">
                <i class="fas fa-greater-than"></i>
                To Buy
            </li>
            <li class="content__item">
                <i class="fas fa-greater-than"></i>
                Places to go
            </li>
            <li class="content__item">
                <i class="fas fa-greater-than"></i>
                Work
            </li>
            <li class="content__item">
                <i class="fas fa-greater-than"></i>
                Pages to visit
            </li>
            <li class="content__item">
                <i class="fas fa-trash"></i>
                Deleted
            </li>
        </ul>
    </div>

    <div class="content__main">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto ullam voluptatum ipsam qui quae facere enim possimus molestias. Minus eveniet sapiente ut quaerat, hic ipsam laborum magnam repudiandae modi sint.
    </div>
</div>

<footer class="footer">
    <div class="footer__info">
        <p>SOME RANDOM INFO</p>
    </div>

    <ul class="footer__list">
        <li class="footer__item-container">
            <a class="footer__item" href="#">Anchor a</a>
        </li>

        <li class="footer__item-container">
            <a class="footer__item" href="#">Anchor b</a>
        </li>

        <li class="footer__item-container">
            <a class="footer__item" href="#">Anchor c</a>
        </li>

        <li class="footer__item-container">
            <a class="footer__item" href="#">Anchor d</a>
        </li>

        <li class="footer__item-container">
            <a class="footer__item" href="#">Anchor e</a>
        </li>
    </ul>
</footer>