<ul class="content__list">
    <li class="content__item" [routerLink]="['/notes/create']" routerLinkActive="selected">
        <i class="fas fa-plus"></i>
        {{_language.selectedLanguage.sidebar__items.create}}
    </li>
    <li class="content__item" [routerLink]="['/notes/view/active']" routerLinkActive="selected">
        <i class="fas fa-clipboard"></i>
        {{_language.selectedLanguage.sidebar__items.view}}
    </li>
    <li *ngFor="let cat of categories" class="content__item" [routerLink]="['categories/', cat.name+'-'+cat.id]" [state]="{id: cat.id}" routerLinkActive="selected">
        <i class="fas fa-greater-than"></i>
        {{cat.name}}
    </li>
    <li class="content__item" [routerLink]="['/notes/view/deleted']" routerLinkActive="selected">
        <i class="fas fa-trash"></i>
        {{_language.selectedLanguage.sidebar__items.delete}}
    </li>
</ul>