<ul class="content__list">
    <li class="content__item" [routerLink]="['/notes/create']" routerLinkActive="selected">
        <i class="fas fa-plus"></i>
        Create new note
    </li>
    <li class="content__item" [routerLink]="['/notes/view']" routerLinkActive="selected">
        <i class="fas fa-clipboard"></i>
        View all notes
    </li>
    <li class="content__item">
        <i class="fas fa-user"></i>
        My profile
    </li>
    <li class="content__item">
        <i class="fas fa-greater-than"></i>
        To Do
    </li>
    <li class="content__item">
        <i class="fas fa-greater-than"></i>
        To Buy
    </li>
    <li class="content__item">
        <i class="fas fa-greater-than"></i>
        Places to go
    </li>
    <li class="content__item">
        <i class="fas fa-greater-than"></i>
        Work
    </li>
    <li class="content__item">
        <i class="fas fa-greater-than"></i>
        Pages to visit
    </li>
    <li class="content__item">
        <i class="fas fa-trash"></i>
        Deleted
    </li>
</ul>