<header>
    <nav class="nav">
        <div style="display: flex; align-items: center;">
            <div class="logo-container" [routerLink]="['/home']">
                <img src="../../../assets/img/favicon.ico" alt="Application Logo" class="logo--small">
            </div>
    
            <mat-select id="languageSelector" [aria-label]="'Allows you to pick the desired language'"
                        aria-roledescription="Let's you pick the desired language"
                        [placeholder]="'Language'"
                        [(ngModel)]="language" (selectionChange)="changeLanguage()">
                <mat-option *ngFor="let lang of Language.languageList" role="option" [attr.aria-roledescription]="lang.name + ' language option'"
                            aria-label="English language" [value]="lang">
                    {{lang.name}}
                </mat-option>
            </mat-select>
        </div>
    
        <div class="search">
            <input id="search__input" aria-label="Search Bar" type="text" 
                   [placeholder]="_language.selectedLanguage.navbar__items.search" 
                   class="search__input">
    
            <button class="search__button" type="submit" aria-label="Search Button">
                <i class="fas fa-search"></i>
            </button>
        </div>
    
        <ul class="nav__list">
            <li class="nav__item-container">
                <a [routerLink]="['/home']" routerLinkActive="active" class="nav__item">
                    {{_language.selectedLanguage.navbar__items.home}}
                </a>
            </li>
    
            <li class="nav__item-container">
                <a href="#" class="nav__item">
                    {{_language.selectedLanguage.navbar__items.about}}
                </a>
            </li>
    
            <li class="nav__item-container">
                <a href="#" class="nav__item">
                    {{_language.selectedLanguage.navbar__items.signUp}}
                </a>
            </li>
    
            <li class="nav__item-container">
                <a href="#" class="nav__item">
                    {{_language.selectedLanguage.navbar__items.signIn}}
                </a>
            </li>
        </ul>
    </nav>
</header>

<ng-content></ng-content>

<footer class="footer">
    <div class="footer__info">
        <p>SOME RANDOM INFO</p>
    </div>

    <ul class="footer__list">
        <li class="footer__item-container">
            <a class="footer__item" href="#">Anchor a</a>
        </li>

        <li class="footer__item-container">
            <a class="footer__item" href="#">Anchor b</a>
        </li>

        <li class="footer__item-container">
            <a class="footer__item" href="#">Anchor c</a>
        </li>

        <li class="footer__item-container">
            <a class="footer__item" href="#">Anchor d</a>
        </li>

        <li class="footer__item-container">
            
        </li>
    </ul>
</footer>