$color-primary: #c99813
$color-secondary: #757575

$color-dark: #161616
$color-light: #dadada

$color-alert: #c95050

$font-color-dark: #292626
$font-color-darker: #0F0F0F
$font-color-light: #d3d3d3

$border-solid-small: 2px solid $color-dark

$box-shadow-small: 0rem .5rem .8rem .2rem rgba(0,0,0,0.6)