:root
    --color-primary: #c99813
    --color-secondary: #757575
    --color-dark: #161616
    --color-light: #dadada
    --font-color-dark: #292626
    --font-color-darker: #0F0F0F
    --font-color-light: #d3d3d3

[theme='dark']
    --color-primary: #02f0f1
    --color-secondary: #212121
    --color-dark: #fbfbfb
    --color-light: #4a4a4a
    --font-color-dark: #7a7a7a
    --font-color-darker: #9F9F9F
    --font-color-light: #f9f9f9

$color-confirm: #89EA6E
$color-alert: #c95050



$border-solid-small: 2px solid var(--color-dark)

$box-shadow-small: 0rem .5rem .8rem .2rem rgba(0,0,0,0.6)