<footer class="footer">
    <div class="footer__info">
        <p>SOME RANDOM INFO</p>
    </div>

    <ul class="footer__list">
        <li class="footer__item-container">
            <a class="footer__item" href="#">Anchor a</a>
        </li>

        <li class="footer__item-container">
            <a class="footer__item" href="#">Anchor b</a>
        </li>

        <li class="footer__item-container">
            <a class="footer__item" href="#">Anchor c</a>
        </li>

        <li class="footer__item-container">
            <a class="footer__item" href="#">Anchor d</a>
        </li>

        <li class="footer__item-container">
            <p class="footer__item" (click)="theme()">Change theme</p>
        </li>
    </ul>
</footer>