@import '../../../sass/variables'

.list
    &-container
        display: flex
        justify-content: space-around
    
    width: 60%
    background-color: var(--color-primary)
    border: $border-solid-small

    &__item
        display: flex
        justify-content: space-between
        border: $border-solid-small

.name-input
    background: none
    outline: none
    border: 1px solid var(--color-dark)
    border-radius: 5rem
    padding-left: .4rem
    font-size: 140%

.btn    
    margin-left: 3rem
    width: 6rem
    height: 2.4rem

.item-element
    margin: 0 2.5rem