<div class="list-container">
    <mat-list class="list">
        <mat-list-item>
            <h1 class="list__title">{{_language.selectedLanguage.categories__items.title}}</h1>
        </mat-list-item>

        <mat-list-item class="list__item" *ngFor="let category of (categories|async)">
            <input class="name-input item-element" [value]="category.name" #inp/>
            <div class="btn-container item-element">
                <button class="btn btn--create btn--categories" (click)="changeName(category, inp.value)">{{_language.selectedLanguage.categories__items.edit}}</button>
                <button class="btn btn--delete btn--categories" (click)="deleteCategory(category)">{{_language.selectedLanguage.categories__items.delete}}</button>
            </div>
        </mat-list-item>
    </mat-list>
</div>