<div class="notes-container">
    <app-note [isView]="true" [isEditale]="false" *ngFor="let note of notes" 
              [id]="'note:'+note.id" [note]="note"></app-note>

    <ng-container *ngIf="notes.length === 0">
        <ng-container [ngSwitch]="(params | async)?.value">
            <div *ngSwitchCase="'active'" class="message__container">
                <div class="message">
                    {{_language.selectedLanguage.notes__items.message}}
                </div>
                
                <button type="submit" aria-label="Creation confirm button"
                    (click)="newNote()"
                    class="btn btn--create message__btn">
                    {{_language.selectedLanguage.notes__items.buttonLegend}}
                    <i class="material-icons">add</i>
                </button>
            </div>

            <div *ngSwitchCase="'deleted'">
                {{_language.selectedLanguage.notes__items.messageDeleted}}
            </div>
        </ng-container>
    </ng-container>
</div>