<form [formGroup]="noteForm" class="note">
    <input aria-label="Note title input field" formControlName="title" [id]="'input__title'+note?.id"
           role="textbox" spellcheck="true" aria-multiline="false" class="note__title" [readonly]="!isEditale"
           required maxlength="60" [placeholder]="_language.selectedLanguage.note__items.titlePlaceholder"/>

    <textarea aria-label="Note body input field" formControlName="body" [id]="'input__body'+note?.id" 
              role="textbox" spellcheck="true" aria-multiline="true" class="note__body" [readonly]="!isEditale"
              maxlength="1200" required [placeholder]="_language.selectedLanguage.note__items.bodyPlaceholder">
    </textarea>

    <div class="buttons-container">
        <button [hidden]="!isCreate" [disabled]="!isCreate || noteForm.invalid" type="submit" 
                aria-label="Creation button" (click)="saveNote()" 
                class="note__btn note__btn--left note__btn--create">
            <i class="fas fa-notes-medical"></i>
            {{_language.selectedLanguage.note__items.createLegend}}
        </button>
        
        <button [hidden]="!isEdit || note!.deleted === 1    " [disabled]="!isEdit || noteForm.invalid" type="submit" 
                aria-label="Deletion button" (click)="deleteNote()" 
                class="note__btn note__btn--right note__btn--delete">
            <i class="fas fa-eraser"></i>
            {{_language.selectedLanguage.note__items.deleteLegend}}
        </button>
    
        <button [hidden]="!isEdit || note!.deleted === 0" [disabled]="!isEdit || noteForm.invalid" type="submit" 
                aria-label="Permanent deletion button" (click)="permanentDelete()" 
                class="note__btn note__btn--center note__btn--delete">
            <i class="fas fa-eraser"></i>
            {{_language.selectedLanguage.note__items.permaDeleteLegend}}
        </button>
    </div>
</form>