<form [formGroup]="noteForm" class="note" [ngStyle]="noteColorPalette">
    <input formControlName="title" [id]="'input__title'+note?.id" type="text" class="note__title"
           role="textbox" aria-label="Note title input field" aria-multiline="false" 
           [placeholder]="_language.selectedLanguage.note__items.titlePlaceholder"
           [attr.aria-placeholder]="_language.selectedLanguage.note__items.titlePlaceholder"
           aria-autocomplete="none" autocomplete="off" spellcheck="true" 
           [readonly]="!isEditale" maxlength="60" required/>

    <textarea formControlName="body" [id]="'input__body'+note?.id" class="note__body"
              role="textbox" aria-label="Note body input field" aria-multiline="true"
              [placeholder]="_language.selectedLanguage.note__items.bodyPlaceholder"
              [attr.aria-placeholder]="_language.selectedLanguage.note__items.bodyPlaceholder"
              aria-autocomplete="none" autocomplete="off" spellcheck="true"
              [readonly]="!isEditale" maxlength="1200" required>
    </textarea>

    <div class="buttons-container">
        <button [hidden]="!isCreate" [disabled]="!isCreate || noteForm.invalid" type="submit" 
                aria-label="Creation button" (click)="saveNote()" 
                class="note__btn note__btn--left note__btn--create">
            <i class="fas fa-notes-medical"></i>
            {{_language.selectedLanguage.note__items.createLegend}}
        </button>
        
        <button [hidden]="!isView || note!.deleted === 1" [disabled]="!isView || noteForm.invalid" type="submit" 
                aria-label="Deletion button" (click)="deleteNote()" 
                class="note__btn note__btn--right note__btn--delete">
            <i class="fas fa-eraser"></i>
            {{_language.selectedLanguage.note__items.deleteLegend}}
        </button>
    
        <button [hidden]="!isView || note!.deleted === 0" [disabled]="!isView || noteForm.invalid" type="submit" 
                aria-label="Permanent deletion button" (click)="permanentDelete()" 
                class="note__btn note__btn--center note__btn--delete">
            <i class="fas fa-eraser"></i>
            {{_language.selectedLanguage.note__items.permaDeleteLegend}}
        </button>

        <label [hidden]="!isCreate" [for]="colorPickerBackground">Background:</label>
        <input class="note__color-picker" [hidden]="!isCreate" type="color" (change)="changeBackgroundColor(colorPickerBackground.value)" #colorPickerBackground/>

        <label [hidden]="!isCreate" [for]="colorPickerText">Text:</label>
        <input class="note__color-picker" [hidden]="!isCreate" type="color" (change)="changeTextColor(colorPickerText.value)" #colorPickerText/>
    </div>
</form>