@import '../../../sass/variables'

.note
    display: flex
    flex-direction: column
    width: 35vw
    height: auto
    max-height: 25vh
    margin: 1rem auto
    padding: 1rem
    border-radius: .5rem
    background-color: var(--color-primary)
    color: var(--font-color-darker)
    overflow-y: auto

    &__title
        outline: none
        border: none
        border-radius: .8rem
        text-align: center
        margin-bottom: 2%
        font-weight: 700
        font-size: 2.2rem
        outline: none
        background: none
        color: inherit
        width: 95%
    
    &__body
        outline: none
        border: none
        border-radius: .8rem
        outline: none
        height: 80%
        resize: none
        background: none
        color: inherit
    
    &__categories
        background: none
        border: none
        outline: none
        cursor: pointer

    &__color-picker
        margin-right: 2rem
        width: 10%

    &__btn
        outline: none
        text-decoration: none
        border: $border-solid-small
        background-color: var(--color-light)
        font-weight: 700
        color: var(--font-color-darker)
        border-radius: 500rem
        width: fit-content
        padding: 0 1rem
        cursor: pointer
        transition: all .2s linear

        &:hover:enabled
            transform: scale(1.1) translateY(-.5rem)
            box-shadow: $box-shadow-small

        &:hover:disabled
            cursor: not-allowed

        &--left
            align-self: flex-end
            margin-right: 1rem

        &--right
            align-self: flex-start
            margin-left: 1rem

        &--center
            align-self: center

        &--create
            &:hover:enabled
                background-color: $color-confirm
                color: var(--font-color-darker)
        
        &--delete
            &:hover:enabled
                background-color: $color-alert
                color: var(--font-color-darker)
    
.buttons-container
    display: flex
    justify-content: space-between

::ng-deep .categorySelect div.mat-select-arrow-wrapper 
  display: none

::ng-deep .categorySelect.mat-select 
  display: inline
