<form [formGroup]="noteForm" class="note" [ngStyle]="noteColorPalette">
    <div>
        <input formControlName="title" [id]="'input__title'+note?.id" type="text" class="note__title"
               role="textbox" aria-label="Note title input field" aria-multiline="false" 
               [placeholder]="_language.selectedLanguage.note__items.titlePlaceholder"
               [attr.aria-placeholder]="_language.selectedLanguage.note__items.titlePlaceholder"
               aria-autocomplete="none" autocomplete="off" spellcheck="true" 
               [readonly]="!isEditale" maxlength="60" required/>
            
        <button [hidden]="!isCreate" class="note__categories" matTooltip="Categories" (click)="select.open()">
            <i class="fas fa-ellipsis-v"></i>
    
            <mat-select class="categorySelect" formControlName="categories" multiple #select>
                <mat-select-trigger></mat-select-trigger>
                <mat-option *ngFor="let category of (categoriesObs | async)" [value]="category">
                    {{category.name}}
                </mat-option>
            </mat-select>
        </button>
    </div>

    <quill-editor class="note__body" formControlName="body" [readOnly]="!isEditale"
                  [placeholder]="_language.selectedLanguage.note__items.bodyPlaceholder"></quill-editor>


    <div class="buttons-container">
        <button [hidden]="!isCreate" [disabled]="!isCreate || noteForm.invalid" type="submit" 
                aria-label="Creation button" (click)="saveNote()" 
                class="note__btn note__btn--left note__btn--create">
            <i class="fas fa-plus-circle"></i>
            {{_language.selectedLanguage.note__items.createLegend}}
        </button>
        
        <button [hidden]="!isView || note!.deleted === 1" [disabled]="!isView || noteForm.invalid" type="submit" 
            aria-label="Deletion button" (click)="deleteNote()" 
            class="note__btn note__btn--right note__btn--delete">
            <i class="fas fa-trash-alt"></i>
            {{_language.selectedLanguage.note__items.deleteLegend}}
        </button>
    
        <button [hidden]="!isView || note!.deleted === 0" [disabled]="!isView || noteForm.invalid" type="submit" 
            aria-label="Permanent deletion button" (click)="permanentDelete()" 
            class="note__btn note__btn--center note__btn--delete">
            <i class="fas fa-minus-circle"></i>
            {{_language.selectedLanguage.note__items.permaDeleteLegend}}
        </button>

        <button [hidden]="!isView" [disabled]="!isView || noteForm.invalid" type="submit"
                aria-label="Update button" (click)="editNote()" class="note__btn">
            <i class="fas fa-edit"></i>
            {{_language.selectedLanguage.note__items.updateLegend}}
        </button>

        <label [hidden]="!isCreate" for="colorPickerBackground">Background:</label>
        <input [id]="'colorPickerBackground'+note?.id" class="note__color-picker" [hidden]="!isCreate" type="color" (change)="changeBackgroundColor(colorPickerBackground.value)" #colorPickerBackground/>

        <label [hidden]="!isCreate" for="colorPickerText">Text:</label>
        <input [id]="'colorPickerText'+note?.id" class="note__color-picker" [hidden]="!isCreate" type="color" (change)="changeTextColor(colorPickerText.value)" #colorPickerText/>
    </div>
</form>